.trex {
  background-color: red;
  width: 70px;
  height: 70px;
  position: absolute;
  bottom: 0;
}

.obstacle {
  width: 60px;
  height: 60px;
  background-color: orange;
  position: absolute;
  bottom: 0;
}
